.container, body 
{
  background-color: black;
  color: aqua;
  padding-left: 30px;
}
#height,
#weight, .height, .weight 
{
  width: 150px;
  height: 25px;
  margin-left: 75px;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

#WH-guide 
{
  color: green;
  margin-left: 75px;
  margin-top: 25px;
  font-size: 20px;
}

#results 
{
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: lime;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 
{
  padding-left: 15px;
  padding-top: 25px;
  text-align: center;
}
