body
{
    background-color: black;
    color: aqua;
    text-align: center;
}
.general
{
    color: white;
    font-size: 20px;
}
.display
{
    text-align: center;
    background-color: green;
    margin: auto;
    width: 350px;
    color: white;
    font-size: 30px;
}